@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #545454;
}
header{
    font-size: 4rem;
}
.date-time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #bababa;
    padding: 32px;
    border-radius: 20px;
    font-size: 6rem;
}

.date, .clock{
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}








































